{# 404 page all styles are added inline, naughty I know, but it keeps the css clean #}
{% block content %}
<div style="height: 100%; width:100%;background:url({{ theme.url }}/media/forest.jpg) no-repeat 50% 50%;background-size:cover;">
  <h1 class="h1" style="text-algin:center;color:#fff;margin-top:200px;">We're sorry, we can't find that page</h1>
  <a style="position:absolute;bottom:0;right:0;display:inline-block;color:#fff;text-decoration:none;" href="http://www.reddit.com/r/EarthPorn/comments/1w7wjx/during_a_walk_in_the_forest_with_my_friend_south/">by linneaun</a>
</div>
{% endblock %}
