{# Single post twig template - Use it for what a single post might look like #}
{% extends 'base.twig' %}
{% block content %}
  {% if post %}
    <div class="post">
      <h1>{{ post.title }}</h1>
      <p>{{post.content }}</p>
    </div>
  {% endif %}
{% endblock %}
